body {
  font-family: Arial, sans-serif;
  background: #f6f7fb;
  margin: 0;
}

.topbar {
  padding: 20px;
  background: #111827;
  color: white;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 10px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.07);
}

input, select, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

button {
  background: #111827;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
